<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>{83, 100.5}</string>
	<string>{84.5, 100.5}</string>
	<string>{88, 100.5}</string>
	<string>{94, 100.5}</string>
	<string>{102, 100.5}</string>
	<string>{108.5, 100.5}</string>
	<string>{115, 100.5}</string>
	<string>{119.5, 100.5}</string>
	<string>{124.5, 100.5}</string>
	<string>{131, 100.5}</string>
	<string>{138, 100.5}</string>
	<string>{144.5, 100.5}</string>
	<string>{149, 100.5}</string>
	<string>{154, 100.5}</string>
	<string>{159.5, 100}</string>
	<string>{167, 100}</string>
	<string>{173.5, 100}</string>
	<string>{179.5, 99.5}</string>
	<string>{184, 99.5}</string>
	<string>{188.5, 99.5}</string>
	<string>{193, 99}</string>
	<string>{196.5, 99}</string>
	<string>{198.5, 98.5}</string>
	<string>{200, 98.5}</string>
	<string>{202.5, 98.5}</string>
	<string>{205.5, 98.5}</string>
	<string>{209, 98.5}</string>
	<string>{211.5, 98.5}</string>
	<string>{213.5, 98.5}</string>
	<string>{214.5, 98.5}</string>
	<string>{215.5, 98.5}</string>
	<string>{217, 98.5}</string>
	<string>{218.5, 98.5}</string>
	<string>{219, 98.5}</string>
	<string>{219.5, 98.5}</string>
	<string>{220, 98.5}</string>
	<string>{220.5, 98.5}</string>
	<string>{221, 98.5}</string>
	<string>{224, 98.5}</string>
	<string>{225.5, 98.5}</string>
	<string>{227, 98.5}</string>
	<string>{227, 99}</string>
	<string>{224.5, 101}</string>
	<string>{213.5, 108}</string>
	<string>{206, 115}</string>
	<string>{199, 122.5}</string>
	<string>{187, 132.5}</string>
	<string>{172, 143}</string>
	<string>{156, 155.5}</string>
	<string>{144, 165}</string>
	<string>{135.5, 174}</string>
	<string>{129.5, 181.5}</string>
	<string>{121.5, 189}</string>
	<string>{103.5, 203}</string>
	<string>{96.5, 211}</string>
	<string>{91.5, 217}</string>
	<string>{88, 223.5}</string>
	<string>{84.5, 230.5}</string>
	<string>{81, 235.5}</string>
	<string>{79, 239.5}</string>
	<string>{77.5, 241.5}</string>
	<string>{75.5, 244}</string>
	<string>{74.5, 246}</string>
	<string>{74, 247}</string>
	<string>{73, 248}</string>
	<string>{72, 249}</string>
	<string>{72, 250}</string>
	<string>{73, 250}</string>
	<string>{77, 250}</string>
	<string>{84.5, 249.5}</string>
	<string>{94, 249}</string>
	<string>{104.5, 249}</string>
	<string>{117, 248}</string>
	<string>{129.5, 247.5}</string>
	<string>{139, 247}</string>
	<string>{145, 247}</string>
	<string>{149, 246.5}</string>
	<string>{157, 245.5}</string>
	<string>{167.5, 244.5}</string>
	<string>{184.5, 244}</string>
	<string>{199, 243.5}</string>
	<string>{209.5, 242}</string>
	<string>{220, 242}</string>
	<string>{227.5, 242}</string>
	<string>{234.5, 241.5}</string>
	<string>{237.5, 241}</string>
	<string>{239, 240}</string>
	<string>{241.5, 240}</string>
	<string>{244.5, 239.5}</string>
	<string>{246.5, 239.5}</string>
	<string>{248, 239.5}</string>
	<string>{251, 239.5}</string>
	<string>{253, 239.5}</string>
	<string>{255, 239.5}</string>
</array>
</plist>
